.details
    background: url("../assets/img/details-bg.png") no-repeat
    background-color: #0A0011
    margin-top: -170px
    border-radius: 20%
    padding-bottom: 400px
.about
    margin-bottom: 165px
    &__item
        display: flex
        justify-content: center
        align-items: center
    &__img
        flex-basis: 43%
        position: relative
        margin-right: 60px
        & img
    &__hero
        flex-basis: 26%
    &__title
        font-weight: 700
        font-size: 70px
        line-height: 60px
        letter-spacing: -0.025em
        color: #8AEDFF
        margin-bottom: 40px
    &__text
        font-size: 19px
        color: #FFFFFF
    &__controls
        display: flex
        align-items: center
        justify-content: center
        margin-top: -130px
    &__leftline
        width: 360px
        height: 1px
        margin-right: 40px
        background: linear-gradient(270deg, #6414FF 0%, rgba(100, 19, 255, 0) 100%)
    &__rightline
        width: 360px
        height: 1px
        background: linear-gradient(270deg, rgba(100, 19, 255, 0) 0%, #6414FF 100%)
    &__btn
        margin-right: 40px
        display: flex
        justify-content: center
        align-items: center
        min-height: 71px
        min-width: 165px

.bikes
    &__title
        font-weight: 700
        font-size: 70px
        line-height: 84.4%
        text-align: center
        letter-spacing: -0.025em
        color: #8AEDFF
        margin-bottom: 80px
    &__carousel
    &__item
    &__img
    &__name
        margin-bottom: 30px
        font-weight: 700
        font-size: 27px
        line-height: 84.4%
        text-align: center
        letter-spacing: -0.025em
        color: #FFFFFF
    &__btn
        margin: auto

