.details
    background: url("../assets/img/details-bg.png") no-repeat
    background-position: center 0
    background-color: #0A0011
    border-radius: 200px
    padding-bottom: 250px
    margin-top: -400px
    &__hands
        position: absolute
        bottom: -100px
        left: 0
        right: 0
        transform: translateY(50%)
        z-index: 5
        width: 100%
    &:before
        content: ""
        position: absolute
        bottom: -10px
        left: 0
        width: 10%
        height: 200px
        background: #fff
    &:after
        content: ""
        position: absolute
        bottom: -10px
        right: 0
        width: 10%
        height: 200px
        background: #fff

.bikes
    overflow: hidden
    padding-bottom: 100px
    &__title
        font-weight: 700
        font-size: 70px
        line-height: 84.4%
        text-align: center
        letter-spacing: -0.025em
        color: #8AEDFF
        margin-bottom: 200px
    &__carousel
    &__item
        cursor: pointer
        position: relative
        padding-bottom: 30px
        &:before
            content: ""
            position: absolute
            left: 15%
            top: 0
            bottom: 0
            right: 16%
            background: url("../assets/img/details-bikes-carousel/bg.png") no-repeat
            background-position: center 0
            background-size: contain
    &__img
        & img
            width: 110% !important
    &__name
        margin-bottom: 30px
        font-weight: 700
        font-size: 27px
        line-height: 84.4%
        text-align: center
        letter-spacing: -0.025em
        color: #FFFFFF
    &__btn
        appearance: none
        border: none
        display: block
        cursor: pointer
        color: #E1E1E1
        border-radius: 66px
        padding: 14px 40px
        font-weight: bold
        font-size: 13px
        position: relative
        margin: auto
        background: linear-gradient(270deg, #DCDCDC 0%, #E1E1E1 100%)
        z-index: 1
        background-clip: padding-box
        opacity: 0.46
        &::after
            content: ''
            position: absolute
            top: 1px
            bottom: 1px
            left: 1px
            right: 1px
            border-radius: 66px
            background: #000
            z-index: -1
            opacity: 1
    &__swipe-hand
        display: none
        animation: swipeShake 1s ease-in 0s infinite
    &__swipe-text
        display: none

.bikes__carousel.owl-carousel .owl-stage-outer
    overflow: inherit !important

.bikes__carousel .owl-item.active
    transition: all 0.3s ease-in-out
.bikes__carousel .owl-item.active.center
    transform: scale(1.5) !important
    & .bikes__name
        margin-top: -40px
    & .bikes__btn
        color: #0A0011
        background: linear-gradient(270deg, #dcdcdc80 0%, #e1e1e193 100%)
        opacity: 1
        padding: 15px 42px
        min-width: 166px
        min-height: 50px
        &::after
            top: 5px
            bottom: 5px
            left: 5px
            right: 5px
            background: linear-gradient(90deg, #FFFFFF 5.93%, #BFBFBF 97.24%)
    & .bikes__item:before
        background: url("../assets/img/details-bikes-carousel/center-bg.png") no-repeat
        background-position: center 0
        background-size: contain
.leftTransform
    transform: translateX(-10%) !important
.rightTransform
    transform: translateX(10%) !important
.setTransparentsy
    opacity: 0.5

@media screen and (max-width: 1600px)
    .bikes__carousel .owl-item.active.center
        & .bikes__name
            margin-top: -30px
        & .bikes__item:before
            transform: translateY(-5px)
@media screen and (max-width: 1400px)
    .bikes__carousel .owl-item.active.center
        & .bikes__name
            margin-top: -30px
        & .bikes__item:before
            transform: translateY(5px)
@media screen and (max-width: 1200px)
    .bikes__carousel .owl-item.active.center
        & .bikes__name
            margin-top: -20px
        & .bikes__item:before
            transform: translateY(10px)
    .bikes
        &__title
            font-size: 60px
        &__name
            font-size: 22px
@media screen and (max-width: 1099px)
    .bikes
        &__name
            margin-top: -40px
    .bikes__carousel .owl-item.active.center
        & .bikes__name
            margin-top: -40px
        & .bikes__item
            & .bikes__img img
                transform: translateY(-10px)
            &:before
                transform: translateY(0px)

@media screen and (max-width: 768px)
    .details
        border-radius: 150px
    .bikes
        &__title
            margin-bottom: 150px
        &__name
            margin-top: -30px
        &__swipe-hand
            display: block
            margin: auto
        &__swipe-text
            display: block
            margin: auto
            margin-top: -50px
    .bikes__carousel .owl-item.active.center .bikes__name
        margin-top: -20px
        margin-bottom: 20px

@media screen and (max-width: 600px)
    .bikes
        &__title
            margin-bottom: 100px
            font-size: 40px
        &__name
            margin-top: -10px
            font-size: 16px
            margin-bottom: 10px
        &__btn
                padding: 10px 30px
                font-size: 10px
    .bikes__carousel .owl-item.leftTransform
        transform: translateX(-16%) scale(0.9) !important
    .bikes__carousel .owl-item.rightTransform
        transform: translateX(16%) scale(0.9) !important
    .bikes__carousel .owl-item.active.center
        transform: translateY(10%) scale(1.5) !important
        & .bikes
            &__name
                font-size: 22px
            &__btn
                min-width: 0px
                min-height: 0px
            &__item
                & .bikes__img img
                    transform: translateY(0px)

@media screen and (max-width: 475px)
    .bikes
        padding-bottom: 80px
        &__title
            margin-bottom: 80px
        &__name
            font-size: 10px
@media screen and (max-width: 425px)
    .details
        border-radius: 100px
    .bikes
        &__btn
            padding: 10px 12px
    .bikes__carousel .owl-item.active.center
        & .bikes
            &__btn
                font-size: 8px
            &__name
                margin-top: -10px
@media screen and (max-width: 360px)
    .bikes__carousel .owl-item.active.center
        & .bikes
            &__btn
                padding: 15px 35px
            &__name
                font-size: 19px
                margin-top: 0
        

@keyframes swipeShake
    0%
        transform: rotate(0deg)
    20%
        transform: rotate(5deg)
    40%
        transform: rotate(-5deg)
    50%
        transform: rotate(0deg)