.diagramms
    padding-bottom: 135px
    position: relative
    background: url("../assets/img/svg-bg.png") no-repeat
    background-position-y: 105%
    background-size: contain
    &__hand
        position: absolute
        top: -15%
        left: 0
    &__title
        margin-bottom: 75px
        color: #fff
        text-align: center
    &__table
        font-size: 19px
        line-height: 171%
        color: #FFFFFF
        border: 1px solid #FBFBFA
        filter: drop-shadow(0px 65.9501px 125.518px rgba(152, 152, 152, 0.76))
        border-radius: 14px
        margin-bottom: 60px
        & span
            font-weight: 400
            display: block
        &-row
            border-bottom: 1px solid #FBFBFA
            padding: 50px 70px
            display: flex
            justify-content: space-between
            align-items: center
            &:last-child
                border-bottom: 0
        &-title
            font-weight: 700
            font-size: 22px
            flex-basis: 25%
        &-text
            flex-basis: 75%
        &-btn
            margin: auto
            min-width: 281px
            min-height: 90px
            border-radius: 66px
            font-weight: 700
            font-size: 19px
            line-height: 171%
            display: flex
            justify-content: center
            align-items: center
            &::before
                top: 10px
                bottom: 10px
                left: 10px
                right: 10px