.diagramms
    padding-bottom: 135px
    position: relative
    background: url("../assets/img/svg-bg.png") no-repeat
    background-position-y: 105%
    background-size: contain
    // overflow-x: hidden
    &__hand
        position: absolute
        top: -7%
        left: 0
        z-index: -1
    &__hand-mobile
        display: none
        position: absolute
        top: -2.5%
        left: 0
    &__title
        margin-bottom: 75px
        color: #fff
        text-align: center
    &__diagramm
        overflow-x: hidden
    &__mobile-diagramm
        display: none
    &__table
        font-size: 19px
        line-height: 171%
        color: #FFFFFF
        border: 1px solid #FBFBFA
        filter: drop-shadow(0px 65.9501px 125.518px rgba(152, 152, 152, 0.26))
        border-radius: 14px
        margin-bottom: 60px
        overflow: hidden
        & span
            font-weight: 400
            display: block
        &-row
            border-bottom: 1px solid #FBFBFA
            padding: 50px 70px
            display: flex
            justify-content: space-between
            align-items: center
            &:last-child
                border-bottom: 0
        &-title
            font-weight: 700
            font-size: 22px
            flex-basis: 25%
        &-text
            flex-basis: 75%
        &-btn
            margin: auto
            min-width: 281px
            min-height: 90px
            border-radius: 66px
            font-weight: 700
            font-size: 19px
            line-height: 171%
            display: flex
            justify-content: center
            align-items: center
            &::before
                top: 10px
                bottom: 10px
                left: 10px
                right: 10px


.diagramm
    &-section
        opacity: 0
        transition: opacity 0.1s linear, transform 0.4s ease-in
        cursor: pointer

.diagramm-bg
    transition: opacity 0.1s ease-in
.diagramm-game:hover
        transform: translate(15px, 10px)
.diagramm-staking:hover
    transform: translate(15px, -20px)
.diagramm-community:hover
    transform: translate(-2px, -25px)
.diagramm-presale:hover
    transform: translate(-4px, -25px)
.diagramm-sale:hover
    transform: translate(-15px, -25px)
.diagramm-reserve:hover
    transform: translate(-40px, 43px) rotate(-2deg)
.diagramm-team:hover
    transform: translate(-22px, 5px)
.diagramm-coin:hover
    transform: translate(-5px, 25px)
.diagramm-ecosystem:hover
    transform: translate(-20px, -20px)
.diagramm-partners:hover
    transform: translate(-25px, 0px)
.diagramm-liquidity:hover
    transform: translate(-20px, -15px)
.diagramm-marketing:hover
    transform: translate(-25px, -8px)

.game-text-fill
    fill: #6D1FD1
    transition: all 0.15s ease-in
.staking-text-fill
    fill: #1F26D1
    transition: all 0.15s ease-in
.community-text-fill
    fill: #1F7BD1
    transition: all 0.15s ease-in
.presale-text-fill
    fill: #1F9CD1
    transition: all 0.15s ease-in
.sale-text-fill
    fill: #28C7A1
    transition: all 0.15s ease-in
.reserve-text-fill
    fill: #D4268F
    transition: all 0.15s ease-in
.team-text-fill
    fill: #FF392D
    transition: all 0.15s ease-in
.coin-text-fill
    fill: #D21C3D
    transition: all 0.15s ease-in
.ecosystem-text-fill
    fill: #31D02E
    transition: all 0.15s ease-in
.partners-text-fill
    fill: #FF8058
    transition: all 0.15s ease-in
.liquidity-text-fill
    fill: #86DC31
    transition: all 0.15s ease-in
.marketing-text-fill
    fill: #CFDE24
    transition: all 0.15s ease-in

@media screen and (max-width: 1600px)
    .diagramms
        &__hand
            width: 600px
            top: -5%
@media screen and (max-width: 1240px)
    .diagramm
        width: 100%
        height: 100%
@media screen and (max-width: 1024px)
    .diagramms
        &__table-row
            padding: 50px 50px
        &__hand
            width: 500px
            top: -5%
@media screen and (max-width: 900px)
    .diagramms
        &__table-row
            border-bottom: none
        &__table-row
            align-items: flex-start
            flex-direction: column
            padding: 0
        &__table-title
            padding: 13px 0 17px 23px
            width: 100%
        &__table-text
            padding: 17px 23px 42px
    .game-table-title-bg
        background: #6D1FD1
    .staking-table-title-bg
        background: #1F26D1
    .community-table-title-bg
        background: #1F7BD1
    .presale-table-title-bg
        background: #1F9CD1
    .sale-table-title-bg
        background: #28C7A1
    .reserve-table-title-bg
        background: #D4268F
    .team-table-title-bg
        background: #FF392D
    .coin-table-title-bg
        background: #D21C3D
    .ecosystem-table-title-bg
        background: #31D02E
    .partners-table-title-bg
        background: #FF8058
    .liquidity-table-title-bg
        background: #86DC31
    .marketing-table-title-bg
        background: #CFDE24
@media screen and (max-width: 768px)
    .diagramms
        &__hand
            display: none
        &__hand-mobile
            display: block
    .diagramm
        width: 114%
        transform: translateX(-6%)
@media screen and (max-width: 600px)
    .diagramms
        &__title
            margin-bottom: 50px
        &__container
            &::before
                content: ""
                position: absolute
                top: 50px
                left: 5%
                background: #A52BFF
                filter: blur(50px)
                width: 80px
                height: 80px
    .diagramm
        width: 120%
        transform: translateX(-8%)
@media screen and (max-width: 475px)
    // .diagramm
    //     width: 134%
    //     transform: translateX(-12%)
    .diagramms
        &__container
            display: none
        &__mobile-diagramm
            position: relative
            display: block
            margin: auto
            width: 100%
            margin-top: -50px
            &::before
                content: ""
                position: absolute
                top: 100px
                left: 5%
                background: #A52BFF
                filter: blur(100px)
                width: 180px
                height: 180px
            & img
                width: 100%
        &__diagramm
            overflow-x: inherit
@media screen and (max-width: 425px)
    .diagramms
        &__title
            margin-bottom: 30px