.footer
    width: 100%
    background-color: #000
    background: url("../assets/img/footer-bg.png") no-repeat
    background-size: 100% 100%
    background-position-y: bottom
    &__hero
        padding-top: 140px
        padding-bottom: 70px
        display: flex
        justify-content: space-between
        align-items: flex-end
    &__logo
        flex-basis: 20%
        & img
            max-width: 230px
    &__wrapper
        display: flex
        flex-basis: 76%
        justify-content: space-between
        align-items: center
    &__links
        display: flex
        justify-content: space-between
        align-items: center
        padding-bottom: 15px
        flex-basis: 63%
    &__link
        font-size: 16px
        line-height: 171%
        text-align: center
        color: #FFFFFF
        margin-right: 16px
        &::last-child
            margin-right: 0
    &__socials
        display: flex
        align-items: center
        flex-basis: 20%
        justify-content: flex-end
    &__social-link
        margin-right: 30px
        &:last-child
            margin-right: 0
    &__contact-btn
        display: none

@media screen and (max-width: 1240px)
    .footer
        background: none
        &::before
            content: ""
            position: absolute
            top: -10%
            left: 50%
            transform: translateX(-50%)
            background: #A52BFF
            filter: blur(156.5px)
            width: 250px
            height: 250px
            z-index: -1
        &__hero
            flex-direction: column
            align-items: center
        &__logo
            margin-bottom: 50px
        &__wrapper
            flex-direction: column-reverse
        &__links
            padding-bottom: 0px
            margin-bottom: 0px
            flex-direction: column
        &__link
            margin-bottom: 16px
            margin-right: 0
            font-size: 22px
        &__socials
            padding-bottom: 50px
        &__contact-btn
            display: flex
            min-height: 70px
            min-width: 290px
            justify-content: center
            align-items: center
            margin-top: 30px

@media screen and (max-width: 425px)
    .footer
        &__hero
            padding: 90px 25px 60px
        &__wrapper
            width: 100%
        &__socials
            width: 100%
            justify-content: space-between
        &__social-link
            margin-right: 0px
