*,
*::before,
*::after
  box-sizing: border-box
  margin: 0
  padding: 0
  position: relative

ul
  list-style: none
a, a:visited
    text-decoration: none
    color: #fff


body
//   color: var(--color-text)
//   background: var(--color-background)
  line-height: 1.35
  font-family: 'Montserrat', sans-serif
  text-rendering: optimizeLegibility
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.container
    margin: 0 auto
    padding: 0 30px
    max-width: 1240px
.section
    width: 100%
.btn
    appearance: none
    border: none
    display: block
    border-radius: 50px
    cursor: pointer