*,
*::before,
*::after
  box-sizing: border-box
  margin: 0
  padding: 0
  position: relative
  scroll-behavior: smooth

ul
  list-style: none
a, a:visited
    text-decoration: none
    color: #fff


body
  line-height: 1.7
  font-family: 'Montserrat', sans-serif
  text-rendering: optimizeLegibility
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  background-color: #0A0011
  overflow-x: hidden

.container
    margin: 0 auto
    padding: 0 30px
    max-width: 1240px
.section
    width: 100%
.btn
    appearance: none
    border: none
    display: block
    cursor: pointer
    color: #140124
    background: linear-gradient(270deg, #29ACE27A 0%, #AB22FF6B 100%)
    background-size: 100% 100%
    border-radius: 66px
    padding: 10px 40px
    font-weight: bold
    font-size: 20px
    z-index: 1
    &::before
      content: ""
      top: 6px
      bottom: 6px
      left: 6px
      right: 6px
      border-radius: 66px
      position: absolute
      background: linear-gradient(264.04deg, #8AEDFF 5.93%, #6100FF 97.24%)
      z-index: -1
.text
  font-size: 19px
  color: #fff

.title
  font-weight: 700
  font-size: 70px
  line-height: 102.4%
  letter-spacing: -0.025em

.d-none
  display: none !important

.fixed-socials
  position: fixed
  right: 0px
  top: 50%
  transform: translateY(-50%)
  background: rgba(158, 41, 243, 0.12) 
  backdrop-filter: blur(5px)
  border-radius: 30px 0 0 30px
  padding: 38px 20px 30px 30px
  display: flex
  flex-direction: column
  z-index: 100
  &__link
    margin-bottom: 32px
    &:last-child
      margin-bottom: 0

.no-events
  pointer-events: none
.opacity-02
  opacity: 0.2
.opacity0
  opacity: 0
.stop-scrolling
  overflow: hidden

@media screen and (max-width: 1200px)
  .title
    font-size: 60px
@media screen and (max-width: 1024px)
  .fixed-socials
    display: none
@media screen and (max-width: 600px)
  .title
    font-size: 40px
@media screen and (max-width: 425px)
  .container
    padding: 0 20px