.header
    width: 100%
    background-color: purple
    position: absolute
    top: 0
    &__navbar
        display: flex
        justify-content: space-between
        align-items: center
    &__logo
        & img
    &__nav-list
        display: flex
        justify-content: space-between
        align-items: center
    &__nav-item
    &__anchor
    &__btn