.head
    width: 100%
    background: url("../assets/img/main-bg.png") no-repeat
    background-position: center 0
    &__hero
        position: relative
        display: flex
        flex-direction: column
        justify-content: center
        align-items: flex-start
        padding: 245px 0 320px
    &__title
        margin-bottom: 40px
        font-weight: 700
        font-size: 90px
        line-height: 1.05
        letter-spacing: -0.025em
        background: linear-gradient(261.32deg, #8AEDFF 32.06%, #421960 96.43%);
        -webkit-background-clip: text
        -webkit-text-fill-color: transparent
        background-clip: text
        text-fill-color: transparent
    &__description
        margin-bottom: 40px
    &__btn
        min-width: 291px
        min-height: 71px
    &__bike-img
        position: absolute
        top: 0
        right: 0
        width: 670px
        transform: translateX(21%)
