.header
    width: 100%
    position: absolute
    top: 0
    background: rgba(20, 0, 35, 0.76)
    backdrop-filter: blur(19px)
    z-index: 100
    &__navbar
        height: 115px
        display: flex
        justify-content: space-between
        align-items: center
    &__logo
        & img
    &__nav-list
        display: flex
        justify-content: space-between
        align-items: center
    &__nav-item
        margin-right: 30px
        &:last-child
            margin-right: 0
    &__anchor
        font-weight: 600
    &__btn
        min-width: 215px
        min-height: 47px