.head
    width: 100%
    background: url("../assets/img/main-bg.png") no-repeat
    background-position: center 0
    overflow: hidden
    position: relative
    &__video-wrap
        position: absolute
        top: 30px
        bottom: 0
        left: 0
        right: 0
        min-width: 100vw
        min-height: 100%
    &__video-bg
        min-width: 100vw
        min-height: 100%
        left: 50%
        transform: translateX(-50%)
    &__video-upper-bg
        position: absolute
        top: 0
        bottom: 0
        left: 0
        right: 0
        background: #000
        opacity: 0.5
    &__hero
        position: relative
        display: flex
        flex-direction: column
        justify-content: center
        align-items: flex-start
        padding: 245px 0 320px
    &__title
        margin-bottom: 40px
        font-weight: 700
        font-size: 90px
        line-height: 1.1
        letter-spacing: -0.025em
        background: linear-gradient(261.32deg, #8AEDFF 32.06%, #421960 96.43%)
        -webkit-background-clip: text
        -webkit-text-fill-color: transparent
        background-clip: text
        text-fill-color: transparent
    &__description
        margin-bottom: 40px
    &__description-mobile
        display: none
    &__btn
        min-width: 291px
        min-height: 71px
    &__bike-img
        position: absolute
        top: 0
        right: 0
        width: 670px
        transform: translateX(8vw)
    &__bike-gif
        position: absolute
        top: 5%
        right: -1px
        width: 620px
        transform: translateX(8vw) translateX(+105px)
    &__bike-mobile
        display: none

@media screen and (max-width: 1550px)
    .head
        &__hero
            position: relative
            display: flex
            flex-direction: column
            justify-content: center
            align-items: flex-start
            padding: 200px 0 260px
        &__bike-img
            position: absolute
            top: 0
            right: 0
            width: 600px
            height: 95%
            transform: translateX(6vw)
        &__bike-gif
            position: absolute
            top: 5%
            right: 0
            width: 530px
            transform: translateX(6vw) translateX(+70px)
@media screen and (max-width: 1330px)
    .head
        &__bike-img
            width: 560px
            right: 40px
            height: auto
        &__bike-gif
            top: 10%
            width: 450px
            transform: translateX(6vw) translateX(-20px)
@media screen and (max-width: 1200px)
    .head
        &__hero
            padding: 180px 0 200px
        &__title
            font-size: 60px

@media screen and (max-width: 1024px)
    .head
        &__bike-img
            width: 400px
            transform: translateX(5vw) translateX(3px)
        &__bike-gif
            width: 350px
            transform: translateX(5vw) translateX(+6px)
            top: 6%

@media screen and (max-width: 860px)
    .head
        &__title
            font-size: 40px
        &__description
            font-size: 16px
        &__btn
            min-width: 245px
            min-height: 60px
            font-size: 17px
        &__bike-img
            width: 300px
            height: 500px
            transform: translateX(20px)
            top: 3%
        &__bike-gif
            width: 250px
            transform: translateX(0)
            top: 10%
@media screen and (max-width: 680px)
    .head
        &__hero
            padding-top: 150px
        &__bike-img
            width: 260px
            height: 420px
            transform: translateX(65px)
        &__bike-gif
            width: 200px
            transform: translateX(26px)
@media screen and (max-width: 600px)
    .head
        &__bike-img
            width: 400px
            height: 550px
            right: auto
            left: 0
            top: 5%
            transform: translateX(0)
            display: none
        &__bike-gif
            top: 7%
            width: 330px
            right: auto
            left: 93px
            transform: translateX(0)
            display: none
        &__title
            font-size: 40px
            text-align: center
            margin: auto
            margin-bottom: 40px
            margin-top: -25vw
        &__hero
            padding-top: 0px
            padding-bottom: 30vw
        &__description
            font-size: 15px
            text-align: center
            margin: auto
            margin-bottom: 40px
        &__btn
            min-width: 245px
            min-height: 60px
            font-size: 17px
            margin: auto
        &__bike-mobile
            display: block
            width: 80vw
            margin-left: -30px
@media screen and (max-width: 500px)
    .head
        &__bike-img
            width: 430px
            height: 560px
            right: auto
            left: -30px
            top: 5%
            transform: translateX(0)
        &__bike-gif
            top: 8%
            width: 330px
            right: auto
            left: 70px
            transform: translateX(0)
@media screen and (max-width: 425px)
    .head
        &__bike-img
            width: 400px
            height: 530px
            left: -50px
        &__bike-gif
            top: 7%
            left: 43px
        &__btn
            min-width: 245px
            min-height: 70px
            font-size: 17px
            margin: auto
        &__description
            display: none
        &__description-mobile
            display: block
            font-size: 15px
            text-align: center
            margin-bottom: 40px
        &__hero
            padding-bottom: 40vw
@media screen and (max-width: 375px)
    .head
        &__title
            font-size: 34px
        &__bike-img
            width: 350px
            height: 480px
            left: -50px
        &__bike-gif
            width: 290px
            left: 32px
        // &__hero
        //     padding-top: 450px