.modal-display
    display: flex !important
.modal-visible
    opacity: 1 !important
.modal
    width: 100%
    min-height: 100vh
    position: fixed
    top: 0
    left: 0
    right: 0
    bottom: 0
    background-color: rgba(0, 0, 0, 0.81)
    z-index: 100
    justify-content: center
    align-items: center
    display: none
    opacity: 0
    transition: opacity 0.3s ease
    &__container
    &__hero
        background: #FFFFFF
        border-radius: 50px
        padding: 15px 17px 15px 54px
        display: flex
    