.proceeds
    padding-top: 170px
    padding-bottom: 100px
    overflow: hidden
    &__list
        display: flex
        justify-content: space-between
    &__left
        flex-basis: 25%
    &__center
        position: absolute
        left: 50%
        transform: translate(-50%, 30%)
    &__right
        flex-basis: 20%
    &__item
        color: #FFFFFF
        font-size: 19px
        line-height: 171%
        margin-bottom: 48px
        transition: opacity 0.3s ease-in
        &-line
            display: flex
        &-num
            margin-right: 5px      
    &__head
        display: flex
        align-items: center
        margin-bottom: 22px
    &__circle
        width: 53px
        height: 53px
        border-radius: 50%
        margin-right: 18px
    &__name
        & h4
            font-weight: 700
        & p
            font-weight: 400
    &__ecosystem
        background: #5134FE
    &__marketing
        background: #A534FE
    &__liquidity
        background: #F420F9
    &__staking
        background: #FF53B4
    &__in-game
        background: #7DA0FB
    &__seed
        background: #C8ED61
    &__private
        background: #DC516A
    &__kols
        background: #CF2965
    &__ido
        background: #96FB7D
    &__team
        background: #7DECFB
    &__btn
        min-height: 83px
        min-width: 290px
        margin-top: 230px

.item-ecosystem
    transform: translateX(50%)
.item-in-game
    transform: translateX(50%)
.item-seed
    transform: translateX(-50%)
.item-team
    transform: translateX(-50%)
            
.svg
    &-ecosystem
        opacity: 0
        transition: opacity 0.3s ease-in
        cursor: pointer
    &-seed
        opacity: 0
        transition: opacity 0.3s ease-in
        cursor: pointer
    &-private
        opacity: 0
        transition: opacity 0.3s ease-in
        cursor: pointer
    &-kols
        opacity: 0
        transition: opacity 0.3s ease-in
        cursor: pointer
    &-ido
        opacity: 0
        transition: opacity 0.3s ease-in
        cursor: pointer
    &-team
        opacity: 0
        transition: opacity 0.3s ease-in
        cursor: pointer
    &-in-game
        opacity: 0
        transition: opacity 0.3s ease-in
        cursor: pointer
    &-staking
        opacity: 0
        transition: opacity 0.3s ease-in
        cursor: pointer
    &-liquidity
        opacity: 0
        transition: opacity 0.3s ease-in
        cursor: pointer
    &-marketing
        opacity: 0
        transition: opacity 0.3s ease-in
        cursor: pointer
.svg-show-shadow
    opacity: 1
.svg-rotate-wrap
    position: absolute
    top: 35px
    left: 55px
    pointer-events: none
.svg-rotate
    transform: rotate(0deg)
    pointer-events: none
    animation: rotation 3s linear 0s infinite normal
.svg-logo
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-52%, -78%)
    pointer-events: none
    width: 400px

@keyframes rotation
    0%
        transform: rotate(0deg)
    100%
        transform: rotate(359deg)


@media screen and (max-width: 1240px)
    .proceeds
        &__center
            position: relative
            flex-basis: 100%
            & svg
                margin: auto
                display: block
                height: 100%
            & .svg-rotate-wrap
                left: 50%
                transform: translate(-50%, 0)
        &__list
            flex-wrap: wrap
            justify-content: center
        &__left
            flex-basis: 40%
            margin-top: -200px
            padding-left: 50px
        &__right
            flex-basis: 35%
            margin-top: -200px
            padding-left: 150px
        &__btn
            margin-top: 120px

@media screen and (max-width: 1240px)
    .proceeds
        padding-bottom: 80px
@media screen and (max-width: 860px)
    .proceeds
        &__left
            flex-basis: 40%
            padding-left: 0
        &__right
            padding-left: 50px
@media screen and (max-width: 768px)
    .proceeds
        overflow: hidden
        padding-bottom: 60px
        &__left
            flex-basis: 100%
        &__right
            padding-left: 0px
            flex-basis: 100%
            margin-top: 0
        &__btn
            margin: auto
            margin-top: 70px
        &__head
            margin-bottom: 13px
        &__center
            & svg 
                width: 100%
                height: 100%
            & .svg-logo
                width: 58%
            & .svg-rotate
                width: 100%
            & .svg-rotate-wrap
                width: 77%
                top: 10%
@media screen and (max-width: 600px)
    .proceeds
        &__left
            margin-top: -100px
@media screen and (max-width: 375px)
    .proceeds
        &__left
            margin-top: -60px