.proceeds
    padding-top: 170px
    padding-bottom: 100px
    overflow: hidden
    &__list
        display: flex
        justify-content: space-between
    &__left
        flex-basis: 25%
    &__center
        position: absolute
        left: 50%
        transform: translate(-50%, -10%)
    &__right
        flex-basis: 20%
    &__item
        color: #FFFFFF
        font-size: 19px
        line-height: 171%
        margin-bottom: 48px
        transition: opacity 0.3s ease-in
    &__head
        display: flex
        align-items: center
        margin-bottom: 22px
    &__circle
        width: 53px
        height: 53px
        border-radius: 50%
        margin-right: 18px
    &__name
        & h4
            font-weight: 700
        & p
            font-weight: 400
    &__build
        background: #5134FE
    &__marketing
        background: #EB69FF
    &__operations
        background: #FF53B4
    &__countingency
        background: #FD9FB4
    &__legal
        background: #FFC7C3
    &__btn
        min-height: 83px
        min-width: 290px
        margin-top: 230px
            
.svg
    &-build
        opacity: 0
        transition: opacity 0.3s ease-in
        cursor: pointer
    &-countingency
        opacity: 0
        transition: opacity 0.3s ease-in
        cursor: pointer
    &-legal
        opacity: 0
        transition: opacity 0.3s ease-in
        cursor: pointer
    &-marketing
        opacity: 0
        transition: opacity 0.3s ease-in
        cursor: pointer
    &-operations
        opacity: 0
        transition: opacity 0.3s ease-in
        cursor: pointer
.svg-show-shadow
    opacity: 1
.svg-rotate-wrap
    position: absolute
    top: 81px
    left: 87px
    pointer-events: none
.svg-rotate
    transform: rotate(0deg)
    transition: transform 0.3s linear
    pointer-events: none
    animation: rotation 3s linear 0s infinite
.svg-logo
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-52%, -68%)
    pointer-events: none

@keyframes rotation
    0%
        transform: rotate(0deg)
    100%
        transform: rotate(360deg)


@media screen and (max-width: 1240px)
    .proceeds
        &__center
            position: relative
            flex-basis: 100%
            & svg
                margin: auto
                display: block
            & .svg-rotate-wrap
                left: 50%
                transform: translate(-50%, 0)
        &__list
            flex-wrap: wrap
            justify-content: center
        &__left
            flex-basis: 40%
            margin-top: -200px
            padding-left: 50px
        &__right
            flex-basis: 35%
            margin-top: -200px
            padding-left: 150px
        &__btn
            margin-top: 120px

@media screen and (max-width: 1240px)
    .proceeds
        padding-bottom: 80px
@media screen and (max-width: 860px)
    .proceeds
        &__left
            flex-basis: 40%
            padding-left: 0
        &__right
            padding-left: 50px
@media screen and (max-width: 768px)
    .proceeds
        overflow: hidden
        padding-bottom: 60px
        &__left
            flex-basis: 100%
        &__right
            padding-left: 0px
            flex-basis: 100%
            margin-top: 0
        &__btn
            margin: auto
            margin-top: 70px
        &__head
            margin-bottom: 13px
        &__center
            & svg 
                width: 100%
                height: fit-content
            & .svg-logo
                width: 58%
            & .svg-rotate
                width: 100%
            & .svg-rotate-wrap
                width: 77%
                top: 10%
@media screen and (max-width: 600px)
    .proceeds
        &__left
            margin-top: -100px
@media screen and (max-width: 375px)
    .proceeds
        &__left
            margin-top: -60px