.roadmap
    padding-bottom: 115px
    &__title
        margin-bottom: 75px
        color: #fff
        text-align: center
    &__quater-wrapper
        overflow: hidden
    &__quater-container
        position: relative
        padding: 150px
        padding-bottom: 0
        margin-top: -150px
        margin-left: calc(15% - 150px)
    &__line
        position: absolute
        top: 245px
        left: 130px
        right: 0
        width: 110%
        opacity: 0.6
    &__quater-list
        display: flex
        width: fit-content
        position: relative
    &__quater-item
        flex-basis: 50%
        padding-right: 100px
        min-width: 37%
        transition: opacity 0.3s ease-in
    &__head-wrapper
        width: fit-content
        margin-bottom: 23px
    &__head
        background: url("../assets/img/roadmap-bg.png") no-repeat
        background-size: contain
        padding: 15px
        margin-bottom: 15px
        opacity: 0.6
    &__head-circle
        background: radial-gradient(80.7% 86.32% at 60.76% 0%, #00FCFC 0%, #9F35FF 100%) 
        box-shadow: 0px 5px 193px rgba(171, 34, 255, 0.38)
        border-radius: 50%
        display: flex
        justify-content: center
        align-items: center
        width: 200px
        height: 200px
        font-weight: 700
        font-size: 32px
        line-height: 123.4%
        letter-spacing: -0.025em
        color: #FFFFFF
    &__circle
        border-radius: 50%
        width: 48px
        height: 48px
        background: #13021F
        border: 1px solid #4ABCFD99
        margin: auto
        margin-bottom: 25px
        z-index: 1
    &__list
        position: relative
        opacity: 0.6
        &::before
            position: absolute
            content: ""
            top: 5px
            bottom: 60px
            left: 9.5px
            width: 1px
            background: #AB22FF
        &.three-line::before
            bottom: 90px
        &.one-line::before
            bottom: 30px
    &__item
        display: flex
        margin-bottom: 25px
        & svg
            margin-right: 13px
            margin-top: 4px
            min-width: 20px
            min-height: 20px
            background-color: #000
        & p
            font-size: 20px
            line-height: 171%
            color: #FFFFFF
    &__owl-carousel
        display: none

.roadmap
    &__quater-item.active
        & .roadmap__head
            opacity: 1
        & .roadmap__list
            opacity: 1
        & .roadmap__circle
            border: 1px solid #4ABCFD

@media screen and (max-width: 1023px)
    .roadmap
        &__owl-carousel
            display: block
        &__quater-wrapper
            display: none
    .roadmap
        &__owl-carousel.owl-carousel .owl-stage-outer .owl-stage
            margin-left: 60px

@media screen and (max-width: 1023px)
    .roadmap
        &__item
            & p
                font-size: 15px
        &__head-circle
            font-size: 18px
            width: 140px
            height: 140px
    .roadmap
        &__owl-carousel.owl-carousel .owl-stage-outer .owl-stage
            margin-left: 20px