.roadmap
    padding-bottom: 115px
    &__title
        margin-bottom: 75px
        color: #fff
        text-align: center
    &__quater-wrapper
        overflow: hidden
    &__quater-container
        position: relative
        padding: 150px
        padding-bottom: 0
        margin-top: -150px
        margin-left: calc(15% - 150px)
    &__line
        position: absolute
        top: 186px
        left: 70px
        right: 0
        width: 185vw
        opacity: 0.6
    &__quater-list
        display: flex
        width: fit-content
        position: relative
        transition: transform 0.3s linear
    &__quater-item
        flex-basis: 50%
        padding-right: 100px
        min-width: 40%
        transition: opacity 0.3s ease-in
    &__head-wrapper
        width: fit-content
        margin-bottom: 23px
    &__head
        background: url("../assets/img/roadmap-bg.png") no-repeat
        background-size: contain
        padding: 15px
        margin-bottom: 15px
        opacity: 0.6
    &__head-circle
        background: radial-gradient(80.7% 86.32% at 60.76% 0%, #00FCFC 0%, #9F35FF 100%) 
        box-shadow: 0px 5px 193px rgba(171, 34, 255, 0.38)
        border-radius: 50%
        display: flex
        justify-content: center
        align-items: center
        width: 150px
        height: 150px
        font-weight: 700
        font-size: 22px
        line-height: 123.4%
        letter-spacing: -0.025em
        color: #FFFFFF
    &__circle
        border-radius: 50%
        width: 30px
        height: 30px
        background: #13021F
        border: 1px solid #4ABCFD99
        margin: auto
        margin-bottom: 25px
        z-index: 1
    &__list
        position: relative
        opacity: 0.6
        &::before
            position: absolute
            content: ""
            top: 5px
            bottom: 0px
            left: 9.5px
            width: 1px
            background: #AB22FF
    &__item
        display: flex
        margin-bottom: 10px
        & svg
            margin-right: 13px
            margin-top: 4px
            min-width: 20px
            min-height: 20px
            background-color: #000
        & p
            font-size: 16px
            line-height: 1.4
            color: #FFFFFF
        &:last-child
            background: #0a0011
    &__show-all
        color: #AB22FF
        cursor: pointer
        padding-left: 33px
        font-weight: 700
    &__item-hidden
        display: none
    &__owl-carousel
        display: none
    &__swipe-hand
        display: none
        animation: swipeShake 1s ease-in 0s infinite
    &__swipe-text
        display: none
    &__controls
        margin-top: 48px
        display: flex
        align-items: center
        justify-content: center
    &__btn
        min-height: 90px
        width: 185px
        margin-right: 34px
        &::before
            top: 10px
            bottom: 10px
            left: 10px
            right: 10px
    &__left-btn
    &__right-btn
        background: linear-gradient(90deg, #29ACE27A 0%, #AB22FF6B 100%)
        &::before
            background: linear-gradient(90deg, #8AEDFF 5.93%, #6100FF 97.24%)
    &__leftline
        width: 360px
        height: 1px
        background: linear-gradient(270deg, #6414FF 0%, rgba(100, 19, 255, 0) 100%)
        margin-right: 40px
    &__rightline
        width: 360px
        height: 1px
        background: linear-gradient(270deg, rgba(100, 19, 255, 0) 0%, #6414FF 100%)

.show-item
    display: flex
.roadmap
    &__owl-carousel .owl-stage .owl-item.active
        & .roadmap__head
            opacity: 1
        & .roadmap__list
            opacity: 1
        & .roadmap__circle
            border: 1px solid #4ABCFD

.roadmap__owl-carousel.owl-carousel.owl-drag .owl-item
    margin-right: -50px
.roadmap__owl-carousel.owl-carousel .owl-stage 
    margin-left: calc(50vw - 590px)

.roadmap__owl-carousel.owl-carousel .owl-stage
        padding-left: 0 !important

@media screen and (max-width: 600px)
    .roadmap__owl-carousel.owl-carousel .owl-stage
        padding-left: 0 !important
    .roadmap__owl-carousel.owl-carousel.owl-drag .owl-item
        margin-right: 0px
    
@media screen and (max-width: 1830px)
    .roadmap
        &__line
            width: 183vw
@media screen and (max-width: 1700px)
    .roadmap
        &__line
            width: 180vw
@media screen and (max-width: 1600px)
    .roadmap
        &__line
            width: 177vw
@media screen and (max-width: 1600px)
    .roadmap__owl-carousel.owl-carousel .owl-stage 
        margin-left: calc(50vw - 500px)

@media screen and (max-width: 1440px)
    .roadmap
        &__line
            width: 187vw
@media screen and (max-width: 1300px)
    .roadmap__empty-item
        display: none
    .roadmap
        &__quater-item
            padding-right: 100px
        &__line
            width: 200vw
@media screen and (max-width: 1180px)
    .roadmap
        &__line
            width: 197vw
@media screen and (max-width: 1100px)
    .roadmap
        &__line
            width: 308vw

@media screen and (max-width: 1023px)
    .roadmap
        &__owl-carousel
            display: block
            margin-top: -100px
        &__quater-wrapper
            display: none
        &__owl-carousel .owl-stage .owl-item.active
            & .roadmap__head
                opacity: 1
            & .roadmap__list
                opacity: 1
        &__quater-item
            padding-top: 100px
        &__line
            top: 186px
            left: 70px
            width: 308vw
    .roadmap
        &__owl-carousel.owl-carousel .owl-stage-outer .owl-stage
            margin-left: 60px

@media screen and (max-width: 875px)
    .roadmap
        &__line
            width: 304vw
            left: 75px
@media screen and (max-width: 800px)
    .roadmap
        &__line
            width: 299vw

@media screen and (max-width: 768px)
    .roadmap
        &__swipe-hand
            display: block
            margin: auto
        &__swipe-text
            display: block
            margin: auto
            margin-top: -50px
        &__title
            margin-bottom: 50px
        &__svg
            margin-bottom: 50px
        &__btn
            min-height: 60px
            min-width: 118px
            margin-right: 22px
            & svg
                width: 13px
                margin-top: 4px
            &::before
                top: 6px
                bottom: 6px
                left: 6px
                right: 6px
        &__leftline
            margin-right: 22px

@media screen and (max-width: 700px)
    .roadmap
        &__line
            width: 295vw

@media screen and (max-width: 640px)
    .roadmap
        &__line
            width: 290vw
@media screen and (max-width: 600px)
    .roadmap
        &__item
            & p
                font-size: 15px
        &__head-circle
            font-size: 18px
            width: 140px
            height: 140px
        &__line
            top: 176px
            width: 560vw
    .roadmap
        &__owl-carousel.owl-carousel .owl-stage-outer .owl-stage
            margin-left: 20px

@media screen and (max-width: 540px)
    .roadmap
        &__line
            width: 550vw

@media screen and (max-width: 500px)
    .roadmap
        &__line
            width: 538vw

@media screen and (max-width: 450px)
    .roadmap
        &__line
            width: 523vw  

@media screen and (max-width: 425px)
    .roadmap
        &__quater-item
            padding-right: 50px
        &__line
            width: 513vw  

@media screen and (max-width: 390px)
    .roadmap
        &__line
            width: 500vw  

@media screen and (max-width: 360px)
    .roadmap
        &__line
            width: 483vw  