*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
}

ul {
  list-style: none;
}

a, a:visited {
  text-decoration: none;
  color: #fff;
}

body {
  line-height: 1.7;
  font-family: 'Montserrat', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0A0011;
}

.container {
  margin: 0 auto;
  padding: 0 30px;
  max-width: 1240px;
}

.section {
  width: 100%;
}

.btn {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  display: block;
  cursor: pointer;
  color: #140124;
  background: linear-gradient(264.04deg, #8AEDFF 5.93%, #6100FF 97.24%);
  border-radius: 66px;
  padding: 10px 40px;
  font-weight: bold;
  font-size: 20px;
  z-index: 1;
}

.btn::before {
  content: "";
  top: -6px;
  bottom: -6px;
  left: -6px;
  right: -6px;
  border-radius: 66px;
  position: absolute;
  background: -webkit-gradient(linear, right top, left top, from(#29ACE2), to(#AB22FF));
  background: linear-gradient(270deg, #29ACE2 0%, #AB22FF 100%);
  z-index: -1;
  opacity: 0.46;
}

.text {
  font-size: 19px;
  color: #fff;
}

.header {
  width: 100%;
  position: absolute;
  top: 0;
  background: rgba(20, 0, 35, 0.76);
  -webkit-backdrop-filter: blur(19px);
          backdrop-filter: blur(19px);
  z-index: 100;
}

.header__navbar {
  height: 115px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav-item {
  margin-right: 30px;
}

.header__nav-item:last-child {
  margin-right: 0;
}

.header__anchor {
  font-weight: 600;
}

.header__btn {
  min-width: 215px;
  min-height: 47px;
}

.head {
  width: 100%;
  background: url("../assets/img/main-bg.png") no-repeat;
  background-position: center 0;
}

.head__hero {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 245px 0 320px;
}

.head__title {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 90px;
  line-height: 1.05;
  letter-spacing: -0.025em;
  background: linear-gradient(261.32deg, #8AEDFF 32.06%, #421960 96.43%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.head__description {
  margin-bottom: 40px;
}

.head__btn {
  min-width: 291px;
  min-height: 71px;
}

.head__bike-img {
  position: absolute;
  top: 0;
  right: 0;
  width: 670px;
  -webkit-transform: translateX(21%);
          transform: translateX(21%);
}

.bikes-slider {
  background: rgba(158, 41, 243, 0.12);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  margin-top: -100px;
}

.bikes-slider__item {
  margin-left: -30px;
  padding-top: 40px;
}

.details {
  background: url("../assets/img/details-bg.png") no-repeat;
  background-color: #0A0011;
  margin-top: -170px;
  border-radius: 20%;
  padding-bottom: 400px;
}

.about {
  margin-bottom: 165px;
}

.about__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__img {
  -ms-flex-preferred-size: 43%;
      flex-basis: 43%;
  position: relative;
  margin-right: 60px;
}

.about__hero {
  -ms-flex-preferred-size: 26%;
      flex-basis: 26%;
}

.about__title {
  font-weight: 700;
  font-size: 70px;
  line-height: 60px;
  letter-spacing: -0.025em;
  color: #8AEDFF;
  margin-bottom: 40px;
}

.about__text {
  font-size: 19px;
  color: #FFFFFF;
}

.about__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: -130px;
}

.about__leftline {
  width: 360px;
  height: 1px;
  margin-right: 40px;
  background: -webkit-gradient(linear, right top, left top, from(#6414FF), to(rgba(100, 19, 255, 0)));
  background: linear-gradient(270deg, #6414FF 0%, rgba(100, 19, 255, 0) 100%);
}

.about__rightline {
  width: 360px;
  height: 1px;
  background: -webkit-gradient(linear, right top, left top, from(rgba(100, 19, 255, 0)), to(#6414FF));
  background: linear-gradient(270deg, rgba(100, 19, 255, 0) 0%, #6414FF 100%);
}

.about__btn {
  margin-right: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 71px;
  min-width: 165px;
}

.bikes__title {
  font-weight: 700;
  font-size: 70px;
  line-height: 84.4%;
  text-align: center;
  letter-spacing: -0.025em;
  color: #8AEDFF;
  margin-bottom: 80px;
}

.bikes__name {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 27px;
  line-height: 84.4%;
  text-align: center;
  letter-spacing: -0.025em;
  color: #FFFFFF;
}

.bikes__btn {
  margin: auto;
}
