*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
}

ul {
  list-style: none;
}

a, a:visited {
  text-decoration: none;
  color: #fff;
}

body {
  line-height: 1.7;
  font-family: 'Montserrat', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0A0011;
}

.container {
  margin: 0 auto;
  padding: 0 30px;
  max-width: 1240px;
}

.section {
  width: 100%;
}

.btn {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  display: block;
  cursor: pointer;
  color: #140124;
  background: -webkit-gradient(linear, right top, left top, from(#29ACE27A), to(#AB22FF6B));
  background: linear-gradient(270deg, #29ACE27A 0%, #AB22FF6B 100%);
  background-size: 100% 100%;
  border-radius: 66px;
  padding: 10px 40px;
  font-weight: bold;
  font-size: 20px;
  z-index: 1;
}

.btn::before {
  content: "";
  top: 6px;
  bottom: 6px;
  left: 6px;
  right: 6px;
  border-radius: 66px;
  position: absolute;
  background: linear-gradient(264.04deg, #8AEDFF 5.93%, #6100FF 97.24%);
  z-index: -1;
}

.text {
  font-size: 19px;
  color: #fff;
}

.title {
  font-weight: 700;
  font-size: 70px;
  line-height: 102.4%;
  letter-spacing: -0.025em;
}

.d-none {
  display: none !important;
}

.header {
  width: 100%;
  position: absolute;
  top: 0;
  background: rgba(20, 0, 35, 0.76);
  -webkit-backdrop-filter: blur(19px);
          backdrop-filter: blur(19px);
  z-index: 100;
}

.header__navbar {
  height: 115px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav-item {
  margin-right: 30px;
}

.header__nav-item:last-child {
  margin-right: 0;
}

.header__anchor {
  font-weight: 600;
}

.header__btn {
  min-width: 215px;
  min-height: 59px;
  font-size: 16px;
}

.head {
  width: 100%;
  background: url("../assets/img/main-bg.png") no-repeat;
  background-position: center 0;
}

.head__hero {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 245px 0 320px;
}

.head__title {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 90px;
  line-height: 1.1;
  letter-spacing: -0.025em;
  background: linear-gradient(261.32deg, #8AEDFF 32.06%, #421960 96.43%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.head__description {
  margin-bottom: 40px;
}

.head__btn {
  min-width: 291px;
  min-height: 71px;
}

.head__bike-img {
  position: absolute;
  top: 0;
  right: 0;
  width: 670px;
  -webkit-transform: translateX(21%);
          transform: translateX(21%);
}

.bikes-ticker {
  pointer-events: none;
  background: rgba(158, 41, 243, 0.12);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  margin-top: -100px;
  min-height: 700px;
}

.bikes-ticker__item {
  position: relative;
  margin-left: -40px;
  padding: 25px;
}

.bikes-ticker__item::before {
  content: "";
  position: absolute;
  top: 55px;
  left: 50px;
  right: 20px;
  bottom: 0;
  background: url("../assets/img/bikes/bg.png") no-repeat;
  background-size: contain;
}

.details {
  background: url("../assets/img/details-bg.png") no-repeat;
  background-color: #0A0011;
  border-radius: 20%;
  padding-bottom: 250px;
  margin-top: -400px;
}

.details__hands {
  position: absolute;
  bottom: -100px;
  left: 0;
  right: 0;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  z-index: 5;
  width: 100%;
}

.details:before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 10%;
  height: 200px;
  background: #fff;
}

.details:after {
  content: "";
  position: absolute;
  bottom: -10px;
  right: 0;
  width: 10%;
  height: 200px;
  background: #fff;
}

.about {
  margin-bottom: 165px;
}

.about__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__img {
  -ms-flex-preferred-size: 43%;
      flex-basis: 43%;
  position: relative;
  margin-right: 60px;
}

.about__video {
  cursor: pointer;
  position: absolute;
  bottom: 250px;
  right: 110px;
  background: linear-gradient(83deg, #29ACE27D 0%, #AB22FF7D 100%);
  -webkit-box-shadow: 0px -17px 72px rgba(97, 0, 255, 0.23), 0px 84px 85px rgba(0, 0, 0, 0.34);
          box-shadow: 0px -17px 72px rgba(97, 0, 255, 0.23), 0px 84px 85px rgba(0, 0, 0, 0.34);
  border-radius: 110px;
  width: 132px;
  height: 124px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__video::before {
  content: "";
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  background: #E6FBFF;
  border-radius: 110px;
}

.about__video-hero {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14.6px;
  line-height: 170.9%;
  color: #A42CFD;
}

.about__hero {
  -ms-flex-preferred-size: 26%;
      flex-basis: 26%;
}

.about__title {
  font-weight: 700;
  font-size: 70px;
  line-height: 60px;
  letter-spacing: -0.025em;
  color: #8AEDFF;
  margin-bottom: 40px;
}

.about__text {
  font-size: 19px;
  color: #FFFFFF;
}

.about__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: -130px;
}

.about__leftline {
  width: 360px;
  height: 1px;
  margin-right: 40px;
  background: -webkit-gradient(linear, right top, left top, from(#6414FF), to(rgba(100, 19, 255, 0)));
  background: linear-gradient(270deg, #6414FF 0%, rgba(100, 19, 255, 0) 100%);
}

.about__rightline {
  width: 360px;
  height: 1px;
  background: -webkit-gradient(linear, right top, left top, from(rgba(100, 19, 255, 0)), to(#6414FF));
  background: linear-gradient(270deg, rgba(100, 19, 255, 0) 0%, #6414FF 100%);
}

.about__btn {
  margin-right: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 71px;
  min-width: 165px;
  min-height: 80px;
}

.bikes {
  overflow: hidden;
  padding-bottom: 100px;
}

.bikes__title {
  font-weight: 700;
  font-size: 70px;
  line-height: 84.4%;
  text-align: center;
  letter-spacing: -0.025em;
  color: #8AEDFF;
  margin-bottom: 200px;
}

.bikes__item {
  cursor: pointer;
  position: relative;
  padding-bottom: 30px;
}

.bikes__item:before {
  content: "";
  position: absolute;
  left: 50px;
  top: 0;
  bottom: 0;
  right: 50px;
  background: url("../assets/img/details-bikes-carousel/bg.png") no-repeat;
  background-position: center 0;
  background-size: contain;
}

.bikes__img img {
  width: 110% !important;
}

.bikes__name {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 27px;
  line-height: 84.4%;
  text-align: center;
  letter-spacing: -0.025em;
  color: #FFFFFF;
}

.bikes__btn {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  display: block;
  cursor: pointer;
  color: #E1E1E1;
  border-radius: 66px;
  padding: 10px 40px;
  font-weight: bold;
  font-size: 13px;
  position: relative;
  margin: auto;
  background: -webkit-gradient(linear, right top, left top, from(#DCDCDC), to(#E1E1E1));
  background: linear-gradient(270deg, #DCDCDC 0%, #E1E1E1 100%);
  z-index: 1;
  background-clip: padding-box;
  opacity: 0.46;
}

.bikes__btn::after {
  content: '';
  position: absolute;
  top: 1px;
  bottom: 1px;
  left: 1px;
  right: 1px;
  border-radius: 66px;
  background: #000;
  z-index: -1;
  opacity: 1;
}

.bikes__carousel.owl-carousel .owl-stage-outer {
  overflow: inherit !important;
}

.bikes__carousel .owl-item.active {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.bikes__carousel .owl-item.active.center {
  -webkit-transform: scale(1.5) !important;
          transform: scale(1.5) !important;
}

.bikes__carousel .owl-item.active.center .bikes__name {
  margin-top: -40px;
}

.bikes__carousel .owl-item.active.center .bikes__btn {
  color: #0A0011;
  background: -webkit-gradient(linear, right top, left top, from(#dcdcdc80), to(#e1e1e193));
  background: linear-gradient(270deg, #dcdcdc80 0%, #e1e1e193 100%);
  opacity: 1;
  padding: 15px 40px;
}

.bikes__carousel .owl-item.active.center .bikes__btn::after {
  top: 5px;
  bottom: 5px;
  left: 5px;
  right: 5px;
  background: -webkit-gradient(linear, left top, right top, color-stop(5.93%, #FFFFFF), color-stop(97.24%, #BFBFBF));
  background: linear-gradient(90deg, #FFFFFF 5.93%, #BFBFBF 97.24%);
}

.bikes__carousel .owl-item.active.center .bikes__item:before {
  background: url("../assets/img/details-bikes-carousel/center-bg.png") no-repeat;
  background-position: center 0;
  background-size: contain;
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
}

.leftTransform {
  -webkit-transform: translateX(-10%) !important;
          transform: translateX(-10%) !important;
}

.rightTransform {
  -webkit-transform: translateX(10%) !important;
          transform: translateX(10%) !important;
}

.setTransparentsy {
  opacity: 0.5;
}

.metaworld {
  background-color: #fff;
  padding: 500px 0 80px;
  border-radius: 0 0 10% 10%;
}

.metaworld__title {
  font-weight: 700;
  font-size: 70px;
  line-height: 84.4%;
  text-align: center;
  letter-spacing: -0.025em;
  color: #0A0011;
}

.metaworld__first-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 116px;
  margin-bottom: 20px;
}

.metaworld__first-wrap .metaworld__item {
  border: 1px solid #A1A1A1;
  border-radius: 14px;
  padding: 38px;
}

.metaworld__second-wrap {
  max-width: 885px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 100px;
}

.metaworld__second-wrap::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("../assets/img/meta-second-bg.png") no-repeat;
  background-size: 100% 100%;
}

.metaworld__second-wrap .metaworld__item {
  padding: 38px 40px 45px 50px;
}

.metaworld__second-wrap .metaworld__item:last-child {
  text-align: right;
  padding: 38px;
}

.metaworld__second-wrap .metaworld__item h3 {
  max-width: 160px;
}

.metaworld__third-wrap {
  width: 100%;
  margin-top: 40px;
}

.metaworld__third-wrap .metaworld__item {
  border: 1px solid #A1A1A1;
  border-radius: 14px;
  padding: 38px;
  text-align: center;
  max-width: 100%;
}

.metaworld__item {
  max-width: 390px;
  z-index: 5;
}

.metaworld__item h3 {
  font-weight: 700;
  font-size: 31px;
  line-height: 123.4%;
  letter-spacing: -0.025em;
  color: #0A0010;
  margin-bottom: 20px;
}

.metaworld__item p {
  font-size: 20px;
  line-height: 171%;
  color: #0A0010;
}

.metaworld__head {
  position: absolute;
  left: 50%;
  top: -130px;
  z-index: 10;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.metaworld__left-design {
  position: absolute;
  left: 0;
  bottom: 6%;
  z-index: 0;
}

.metaworld__right-design {
  position: absolute;
  right: 0;
  bottom: 25%;
  z-index: 0;
}

.groups-and-roadmap {
  background: url("../assets/img/groups-bg.png") no-repeat;
  background-size: 100% 100%;
}

.groups {
  padding-top: 130px;
  margin-bottom: 110px;
}

.groups__title {
  text-align: center;
  color: #FFFFFF;
  margin: auto;
  margin-bottom: 70px;
  max-width: 860px;
}

.groups__carousel {
  margin-bottom: 80px;
  width: 100%;
  overflow: hidden;
}

.groups__carousel-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: 15%;
}

.groups__item {
  max-width: 1200px;
  margin: auto;
  padding: 10px 34px;
  width: 100vw;
  opacity: 0.6;
  -webkit-transition: opacity 0.3s ease-in;
  transition: opacity 0.3s ease-in;
}

.groups__item.active {
  opacity: 1;
}

.groups__label {
  color: #FFFFFF;
  text-align: center;
  font-weight: 500;
  font-size: 23px;
  line-height: 170.9%;
  margin-bottom: 130px;
  max-width: 340px;
  min-height: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: url("../assets/img/bikes/bg.png") no-repeat;
  background-size: 100% 100%;
  min-height: 158px;
}

.groups__label span {
  font-weight: 700;
  font-size: 52px;
  line-height: 123.4%;
  letter-spacing: -0.025em;
  margin-bottom: -15px;
  display: block;
}

.groups__card {
  max-width: 1200px;
  background: url("../assets/img/stages/bg.png") no-repeat;
  background-size: 100% 100%;
  border-radius: 37px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  padding-right: 80px;
}

.groups__hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.groups__content h3 {
  color: #fff;
  margin-bottom: 28px;
}

.groups__btn {
  margin: auto;
  min-height: 90px;
  min-width: 290px;
}

.groups__btn::before {
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
}

.roadmap {
  padding-bottom: 115px;
}

.roadmap__title {
  margin-bottom: 75px;
  color: #fff;
  text-align: center;
}

.roadmap__quater-container {
  position: relative;
  overflow: hidden;
  padding: 150px;
  padding-bottom: 0;
  margin-top: -150px;
  margin-left: calc(15% - 150px);
}

.roadmap__line {
  position: absolute;
  top: 436px;
  left: 229px;
  right: 0;
  width: 97%;
  opacity: 0.6;
}

.roadmap__quater-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
}

.roadmap__quater-item {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding-right: 100px;
  min-width: 37%;
  opacity: 0.6;
  -webkit-transition: opacity 0.3s ease-in;
  transition: opacity 0.3s ease-in;
}

.roadmap__quater-item.active {
  opacity: 1;
}

.roadmap__head-wrapper {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 23px;
}

.roadmap__head {
  background: url("../assets/img/roadmap-bg.png") no-repeat;
  background-size: contain;
  padding: 15px;
  margin-bottom: 90px;
}

.roadmap__head-circle {
  background: radial-gradient(80.7% 86.32% at 60.76% 0%, #00FCFC 0%, #9F35FF 100%);
  -webkit-box-shadow: 0px 5px 193px rgba(171, 34, 255, 0.38);
          box-shadow: 0px 5px 193px rgba(171, 34, 255, 0.38);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 243px;
  height: 243px;
  font-weight: 700;
  font-size: 32px;
  line-height: 123.4%;
  letter-spacing: -0.025em;
  color: #FFFFFF;
}

.roadmap__circle {
  display: none;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  background: #13021F;
  border: 1px solid #4ABCFD;
  margin: auto;
}

.roadmap__list {
  position: relative;
}

.roadmap__list::before {
  position: absolute;
  content: "";
  top: 5px;
  bottom: 60px;
  left: 9.5px;
  width: 1px;
  background: #AB22FF;
}

.roadmap__list.three-line::before {
  bottom: 90px;
}

.roadmap__list.one-line::before {
  bottom: 30px;
}

.roadmap__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 25px;
}

.roadmap__item svg {
  margin-right: 13px;
  margin-top: 4px;
  min-width: 20px;
  min-height: 20px;
  background-color: #000;
}

.roadmap__item p {
  font-size: 20px;
  line-height: 171%;
  color: #FFFFFF;
}

.milestones__title {
  color: #fff;
  text-align: center;
  margin-bottom: 50px;
}

.milestones__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: calc(100% + 75px);
  -webkit-transform: translateX(-37.5px);
          transform: translateX(-37.5px);
}

.milestones__wrapper {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding: 9px;
}

.milestones__item {
  padding: 9px;
  background: url("../assets/img/milestones/bg.png") no-repeat;
  background-size: contain;
}

.milestones__hero {
  background: linear-gradient(42.19deg, #390E58 2.34%, #9C33E4 105.89%);
  border-radius: 19px;
  padding: 28px 45px 50px;
}

.milestones__head {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 30px;
}

.milestones__head p {
  font-weight: 700;
  font-size: 32px;
  line-height: 123.4%;
  letter-spacing: -0.025em;
  color: #FFFFFF;
}

.milestones__progress-wrapper {
  position: relative;
  width: 100%;
  height: 35px;
  background: #fff;
}

.milestones__progress {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  font-size: 20px;
  color: #3C0F5C;
  background: #6FCFCF;
  -webkit-box-shadow: 0px 0px 30px rgba(34, 255, 255, 0.63);
          box-shadow: 0px 0px 30px rgba(34, 255, 255, 0.63);
}

.progress-35 {
  width: 0%;
  -webkit-transition: width 1.0s ease-in;
  transition: width 1.0s ease-in;
}

.progress-90 {
  width: 0%;
  -webkit-transition: width 1.0s ease-in-out;
  transition: width 1.0s ease-in-out;
}

.anim-active .progress-35 {
  width: 35%;
}

.anim-active .progress-90 {
  width: 90%;
}

.diagramms {
  padding-bottom: 135px;
  position: relative;
  background: url("../assets/img/svg-bg.png") no-repeat;
  background-position-y: 105%;
  background-size: contain;
}

.diagramms__hand {
  position: absolute;
  top: -15%;
  left: 0;
}

.diagramms__title {
  margin-bottom: 75px;
  color: #fff;
  text-align: center;
}

.diagramms__table {
  font-size: 19px;
  line-height: 171%;
  color: #FFFFFF;
  border: 1px solid #FBFBFA;
  -webkit-filter: drop-shadow(0px 65.9501px 125.518px rgba(152, 152, 152, 0.76));
          filter: drop-shadow(0px 65.9501px 125.518px rgba(152, 152, 152, 0.76));
  border-radius: 14px;
  margin-bottom: 60px;
}

.diagramms__table span {
  font-weight: 400;
  display: block;
}

.diagramms__table-row {
  border-bottom: 1px solid #FBFBFA;
  padding: 50px 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.diagramms__table-row:last-child {
  border-bottom: 0;
}

.diagramms__table-title {
  font-weight: 700;
  font-size: 22px;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}

.diagramms__table-text {
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
}

.diagramms__table-btn {
  margin: auto;
  min-width: 281px;
  min-height: 90px;
  border-radius: 66px;
  font-weight: 700;
  font-size: 19px;
  line-height: 171%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.diagramms__table-btn::before {
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
}

.proceeds {
  padding-top: 170px;
}

.proceeds__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.proceeds__left {
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
  margin-right: -70px;
}

.proceeds__right {
  -ms-flex-preferred-size: 65%;
      flex-basis: 65%;
  margin-left: -30px;
}

.proceeds__item {
  color: #FFFFFF;
  font-size: 19px;
  line-height: 171%;
  margin-bottom: 48px;
}

.proceeds__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 22px;
}

.proceeds__circle {
  width: 53px;
  height: 53px;
  border-radius: 50%;
  margin-right: 18px;
}

.proceeds__name h4 {
  font-weight: 700;
}

.proceeds__name p {
  font-weight: 400;
}

.proceeds__build {
  background: #5134FE;
}

.proceeds__marketing {
  background: #EB69FF;
}

.proceeds__operations {
  background: #FF53B4;
}

.proceeds__countingency {
  background: #FD9FB4;
}

.proceeds__legal {
  background: #FFC7C3;
}

.proceeds__btn {
  min-height: 83px;
  min-width: 290px;
  margin-top: 230px;
}

.team {
  width: 100%;
  background-color: #fff;
  border-radius: 10%;
  padding-top: 115px;
}

.team__title {
  margin-bottom: 50px;
  color: #0A0011;
  text-align: center;
}

.team__item {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.team__img {
  margin-bottom: 35px;
  border-radius: 50%;
  overflow: hidden;
}

.team__name {
  font-weight: 700;
  font-size: 23px;
  line-height: 171%;
  color: #000000;
  text-align: center;
  max-width: 256px;
}

.team__job {
  font-size: 19px;
  line-height: 171%;
  color: #4A4A4A;
  text-align: center;
  max-width: 256px;
}

.team__list .owl-stage {
  margin-left: -25vw;
}

.partners {
  padding-bottom: 50px;
}

.partners__tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: calc( 100% + 25px);
  -webkit-transform: translateX(-12.5px);
          transform: translateX(-12.5px);
}

.partners__btn-wrapper {
  -ms-flex-preferred-size: 33.3%;
      flex-basis: 33.3%;
  padding: 0 12.5px;
}

.partners__btn {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  display: block;
  cursor: pointer;
  margin: auto;
  min-width: 281px;
  min-height: 70px;
  border-radius: 66px;
  font-weight: 700;
  font-size: 19px;
  line-height: 171%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  color: #4C0E73;
  border: 1px solid #4C0E73;
  width: 100%;
}

.partners__btn.active {
  background: linear-gradient(95deg, #290046 5.93%, #0A0011 97.24%);
  -webkit-box-shadow: 0px 54px 88px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 54px 88px rgba(0, 0, 0, 0.12);
  border: 10px solid #C1BDC4;
  color: #FFFFFF;
  min-height: 81px;
}

.partners__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 75px;
  padding-bottom: 75px;
  width: calc(100% + 25px);
  -webkit-transform: translateX(-12.5px);
          transform: translateX(-12.5px);
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.partners__item-wrapper {
  -ms-flex-preferred-size: 16.6%;
      flex-basis: 16.6%;
  padding: 0 12.5px;
}

.partners__img-wrapper {
  position: relative;
}

.partners__img-wrapper::before {
  content: "";
  top: -6px;
  bottom: 0px;
  left: -6px;
  right: -6px;
  position: absolute;
  background: -webkit-gradient(linear, left top, right top, from(#D6D6D6), color-stop(50%, #fff), to(#D6D6D6));
  background: linear-gradient(90deg, #D6D6D6 0%, #fff 50%, #D6D6D6 100%);
  border-radius: 50%;
}

.partners__img {
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 26px;
}

.partners__img img {
  width: 100%;
}

.partners__name {
  font-weight: 700;
  font-size: 23px;
  line-height: 171%;
  text-align: center;
  color: #000000;
}

.partners__job {
  font-size: 19px;
  line-height: 170.9%;
  text-align: center;
  color: #4A4A4A;
}

.partners__folowers {
  font-size: 19px;
  line-height: 170.9%;
  text-align: center;
  color: #4A4A4A;
}

.footer {
  width: 100%;
  background-color: #000;
  background: url("../assets/img/footer-bg.png") no-repeat;
  background-size: 100% 200%;
  background-position-y: bottom;
}

.footer__hero {
  padding-top: 40px;
  padding-bottom: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__logo {
  max-width: 230px;
}

.footer__policy {
  font-size: 23px;
  line-height: 171%;
  text-align: center;
  color: #FFFFFF;
}

.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__social-link {
  margin-right: 35px;
}

.footer__social-link:last-child {
  margin-right: 0;
}

.modal-display {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.modal-visible {
  opacity: 1 !important;
}

.modal {
  width: 100%;
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.81);
  z-index: 100;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.modal__hero {
  background: #FFFFFF;
  border-radius: 50px;
  padding: 15px 17px 15px 54px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
